body{
  background-color: #101019;
}

#body{
  overflow: hidden auto; 
  position: fixed;
  top: 0;
  padding-top: 79px;
  width: 100%;
  height: calc(100vh - 1px);
}

::-webkit-scrollbar {
display: none;
}

.nav-bar{
  background-color: #111020d7;
  padding: 10px;
  justify-content: space-between;
  z-index: 1000;
  position: fixed;
  top: 0;
  width: 100%;
  backdrop-filter: blur(6px);
}

.nav_title{
  font-weight: bold;
  color: #fff;
  width: 200px;
}

.nav-logo{
  width: 60px;
  height: 60px;
}

.nav_btns button, .nav_title button{
  background: none;
  border: none;
}

.nav_btns button span, .nav_title button span{
  color: #fff;
  font-size: 40px;
}

.sidebar_menu{
  width: 0;
  overflow: hidden;
  position: fixed;
  background-color: #101019cc;
  backdrop-filter: blur(4px);
  height: 100%;
  transition: 0.2s;
  z-index: 9999;
}

.slideBarOpenBG{
  z-index: 999;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #00000079;
  backdrop-filter: blur(4px);
  display: none;
}

.close_menu{
  width: 100%;
}

.close_menu button{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 20px;
  font-weight: 800;
  font-size: 1.1rem;
  background-color: #a903d75c;
  color: #fff;
  border: none;
  border-bottom: 0.1px solid #a903d7;
  width: 100%;
}

.sidebar_menu-links{
  display: flex;
  flex-direction: column;
  width: 100%;
  border-top: .3px solid #6262625a;
  margin-top: 30px;
  
}

.sidebar_menu-btn{
  border: none;
  border-bottom: .3px solid #4a4a4a81;
  width: 100%;
  padding: 15px 0;
  text-align: center;
  background: transparent;
  font-weight: 700;
  font-size: 1rem;
  color: #fff;
  cursor: pointer;
  
}

.sidebar_menu-btn:hover{
  color: #b204e3;
  transition-duration: 100ms;
}

/* slide show css */




.card-content{
  color: #d0d0d0;
  font-weight: bolder;
  z-index: 1000;
  position: absolute;
  width: 100%;
  height: 100%;
  cursor: pointer;
  justify-content: space-between;
  flex-wrap: nowrap;
}

.card-content .info{
  padding: 15px 5px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.card-content img{
  width: 220px;
  height: 100%;
  
}

.trending .cards{
  overflow-x: scroll;
  overflow-y: hidden;
  cursor: -webkit-grabbing;
  user-select: none;
}

.info h1{
white-space: pre;
width: 130px;
overflow: hidden;
text-overflow: ellipsis;
}

.trending h2{
  color: #9749fe;
  font-weight: bolder;
  padding: 0 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1.3rem;
}

.trending h2 a{
  color: #f9f4ff;
  font-weight: 500;
  font-size: 1.1rem;
}

.trending h2 a:hover{
  color: #498bfe;
}

.trending .cards{
  display: flex;
  overflow: visible auto;
  padding: 15px 10px;
  transition: 200ms ease-in;
  /* width: 1960px; */
}

.trending .button{
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  height: 280px;
  position: absolute;
  z-index: 102;
  transform: translate(calc(100vw - 70px), 15px);
  visibility: hidden;
}

.trending .button button{
  width: 50px;
  height: 45%;
  border-radius: 8px;
  /* border: 1px solid #333; */
  cursor: pointer;
}

.trending .button button:hover{
  outline: 3px solid #9749fe9e;
  transition: 100ms ease-in;
  color: #9749fe;
}

footer{
  padding: 5px 30px;
  background-color: #0a0a10;
}

footer ol{
  color: #e4e4e4;
  padding: 0 30px;
}

footer h1 {
  font-size: 24px;
  margin-bottom: 20px;
  color: #e4e4e4;
}
footer p {
  font-size: 16px;
  line-height: 1.5;
  color: #e4e4e4;

}
.highlight {
  color: rgb(18, 235, 18);
  font-weight: bold;
  text-decoration: underline;
}


/* _____________________________ */
/* Media queries */

@media (min-width: 600px) {

  .info h1{
    width: auto;
    
    }
  
  .card-content img{
    width: 290px;
  }

  .trending .button{
    visibility: visible;
  }
}

@media (min-width: 1300px) {

}