body{
  background-color: #101019;
}

#body{
  overflow: hidden auto; 
  position: absolute;
  top: 0;
  padding-top: 79px;
  width: 100%;
  height: 100%;
}

::-webkit-scrollbar {
display: none;
}

.nav-bar{
  background-color: #111020d7;
  padding: 10px;
  justify-content: space-between;
  z-index: 1000;
  position: fixed;
  top: 0;
  width: 100%;
  backdrop-filter: blur(6px);
}

.nav_title{
  font-weight: bold;
  color: #fff;
  width: 200px;
}

.nav-logo{
  width: 60px;
  height: 60px;
}

.nav_btns button, .nav_title button{
  background: none;
  border: none;
}

.nav_btns button span, .nav_title button span{
  color: #fff;
  font-size: 40px;
}

.sidebar_menu{
  width: 0;
  overflow: hidden;
  position: fixed;
  background-color: rgba(17, 17, 17, 0.62);
  backdrop-filter: blur(4px);
  height: 100%;
  transition: 0.2s;
  z-index: 9999;
}

/* slide show css */

.slideShow{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 335px;
}



.slideShow .slider{
  width: 100%;
  margin: 0 auto 20px auto;
  background: #101124;
}

.slider {
  display: flex;
  position: relative;


}

.slider .btn, .slider .a{
  height: 100%;
  width: 100%;
  background: none;
  border: none;
  transition: 500ms ease-out;
}

.slider .a{
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgb(255, 255, 255);
  transition: 400ms ease-in-out;
}

.slider .btn{
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: 10;
}

.slider img{
  height: 100%;
  width: 250px;
  background-position: center;
  z-index: 20;
}

.slider .title{
  position: absolute;
  font-size: 1.9rem;
  font-weight: bold;
  color: #fff;
  bottom: 15px;
  padding: 0 10px;
  width: 100%;
  height: 40%;
  text-align: left;
    z-index: 6;
    text-shadow: 1px 1px 0px #000, -1px -1px 0px #000;
    display: block;
    top: 60%;
    display: flex;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    align-items: center;
}

.watchBtn{
  font-size: 1.2rem;
  padding: 0 15px 5px 15px;
  background: #FF3600;
  border: none;
  color: #fff;
  font-weight: bolder;
  text-shadow: .5px .5px 0 #000;
  transition: 150ms;
}

.watchBtn:hover{
  background: #FF6300;
}

.controler button{
  padding: 5px 10px;
  
}

.ongoingAnime h3{
  color: #F00B0B;
  width: 90%;
  margin: auto;
}

.slideShowBtn{
  position: absolute;
  z-index: 100;
  background: none;
  border: none;
  font-size: 2rem;
  color: #fff;
  font-weight: bold;
  width: 45px;
  height: 45px;
  background-color: #201f31bb;
  right: 10px;
  backdrop-filter: blur(4px);
  border: 0.2px solid #4a4a4a5c;
}

.prev{
  top: 70%;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom: none;
}

.next{
  top: calc(70% + 45px);
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  border-top: none;
}

.bg2{
  position: absolute;
  display: flex;
  justify-content: end;
  width: 100%;
  height: 100%;
  
  filter: blur(20px);
  background: #1a1a28;
}

.bg2 img{
  width: 100%;
  height: 100%;
}

.bg1{
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  filter: saturate(200%);
  box-shadow: 0 0 200px 90px #201f31 inset, -30px 0 100px 0 #201f31;
  z-index: 999;
  
}

.card-content{
  color: #d0d0d0;
  font-weight: bolder;
  z-index: 1000;
  position: absolute;
  width: 100%;
  height: 100%;
  
  justify-content: space-between;
  flex-wrap: nowrap;
}

.card-content .info{
  padding: 15px 5px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.card-content img{
  width: 220px;
  height: 100%;
}

.info h1{
white-space: pre;
width: 130px;
overflow: hidden;
text-overflow: ellipsis;
}

.trending h2{
  color: #9749fe;
  font-weight: bolder;
  padding: 0 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.trending h2 a{
  color: #f9f4ff;
  font-weight: 500;
  font-size: 1.1rem;
}

.trending h2 a:hover{
  color: #498bfe;
}

.trending .cards{
  display: flex;
  overflow: visible auto;
  padding: 15px 10px;
  transition: 100ms;
  /* width: 1960px; */
}

.trending .button{
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 280px;
  width: 100vw;
  position: absolute;
  z-index: 102;
  transform: translate(calc(100vw - 70px), 15px);
  visibility: hidden;
}

.trending .button button{
  width: 50px;
}

@media (min-width: 600px) {
  .slideShow{
      height: 400px;
  }

  .info h1{
    width: auto;
    
    }
  
  .card-content img{
    width: 290px;
  }

  .trending .button{
    visibility: visible;
  }

  .trending .cards{
    width: 1985px;
  }
}

@media (min-width: 1300px) {
  .slideShow{
    width: 50%;
  }

  .slideShowBtn{
    left:10px;
  }

}