*{
    font-family: "Exo 2", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

.fx{
    display: flex;
}

.fx-center{
    align-items: center;
    justify-content: center;
}

.fxd-col{
    flex-direction: column;
}

.center{
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.ep-no{
    background-color: #00f1f5;
    display: flex;
    align-items: center;
    border-radius: 6px;
    font-weight: bolder;
    color: #111;
    padding: 0 3px;
    height: 20px;
}

.slideShow-button{
    font-size: 1.3rem;
    padding: 10px 25px;
    border-radius: 50px;
    font-weight: bold;
    border: none;
    background-color: #8c07f9;
    color: rgb(206, 206, 206);
    fill: rgb(206, 206, 206);
}

.slideShow-button:hover{
    transition: 100ms;
    outline: 4px solid #ad1dfb59;
    color: #fff;
    fill: #fff;
}


/* Anime Card */
/*  HTML 

<div class="card fx">
  <div class="rank">${rank}</div>
    <div class="image">
      <div class="card_bg2"></div>
      <div class="card_bg" style="background-image: url('${image}');"></div>
      <img src="${image}" alt="${title}">
    </div>
  <div class="card-title">${title}</div>
</div>                */
.card{
    width: 180px !important ;
    flex-direction: column;
    margin: 5px 8px;
}

.card .card-title{
    /* height: 10px; */
    width: 180px;
    white-space: pre;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #d8d8d8;
    padding: 0 5px 5px 5px;
    z-index: 100;
    font-weight: bold;
}

.card img{
    width: 180px;
    height: 240px;
    z-index: 100;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.card_bg{
    position: absolute;
    width: 180px;
    height: 270px;
    z-index: -2;
    filter: blur(6px);
}

.card_bg2{
    border-radius: 8px;
    z-index: -1;
    position: absolute;
    width: 180px;
    height: 270px;
    background-color: #181818b3;
}

.card .rank{
    position: absolute;
    z-index: 103 !important;
    color: #fff;
    padding: 10px;
    padding-right: 14px;
    margin: 5px;
    background-color: #8c07f98a;
    border-radius: 50px;
    font-weight: bolder;
    backdrop-filter: blur(4px);
}/* __________________________________ */

.btnTransparent{
    height: 40%;
    backdrop-filter: blur(3px);
    background-color: #201f31e0;
    margin: 0 0 0 13px;
    border: none;
    color: #fefefe;
}