<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/shaka-player/4.3.7/shaka-player.ui.min.js" integrity="sha512-DiwMDsfcYRNZd/li7goVsSG0ewZAdauVdMg0v3FuLtea57aVy2hUH0hu0J/wDRRt5RyQZq76RzkrBNseMmzXOg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/shaka-player/4.3.7/controls.min.css" integrity="sha512-FvnJOvchkjzz8TYMseY6gGQTdL3Ye3btvWMSoO8brPB9XLDPskq6LkyxwpgjSs1ZALn6lwq5V/5PNWmOd2HKdg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <script defer src="https://www.gstatic.com/cv/js/sender/v1/cast_sender.js"></script>

  <link href="https://fonts.googleapis.com/css?family=Material+Icons+Sharp" rel="stylesheet">
  <link rel="stylesheet" href="{{url_for('static', filename='css/youtube-theme.css')}}" />
  <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/mux.js/5.10.0/mux.min.js"></script>
  <style type="text/css">
    
    #wrap { width: 100%; height: 100%; }
  </style>
  <title>HTML</title>

<style>
*{
  margin: 0;
  padding: 0;
}

::-webkit-scrollbar {
display: none;
}

body{
width: 100%;
height: 100%;
}

</style>
</head>

<body>
  <section id="wrap">
    <div class="youtube-theme">
      <video autostart="true" autoplay data-shaka-player id="youtube-theme" style="width:100%;height:100%"></video>
    </div>
</section>
    
  <script>
    const youtube_theme_manifestUri = '{{m3u8}}';

async function init() {
  const video = document.getElementById('youtube-theme');
    const ui = video['ui'];
    const config = {
      'seekBarColors': {
        base: 'rgba(255,255,255,.2)',
        buffered: 'rgba(255,255,255,.4)',
        played: 'rgb(255,0,0)',
      }
    }
   ui.configure(config);

    const controls = ui.getControls();
    const player = controls.getPlayer();

    try {
      await player.load(youtube_theme_manifestUri);
    } catch (error) {
    }

    // TODO find a way to do this without jquery. -___- or find a way to replace them CSS. maybe usering :after  
    $('.shaka-overflow-menu-button').html('settings');
    $('.shaka-back-to-overflow-button .material-icons-round').html('arrow_back_ios_new');
}
document.addEventListener('shaka-ui-loaded', init);

////////////////////////////////
let html_ = document.querySelector("html");
addEventListener('resize', () => {
      let video = document.querySelector(".video .currentAnime");
      let w = video.offsetWidth;
      video.style.height = `${w/1.8}px`;
    });


  </script>
</body>
</html>

